{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": { "jsx": true }
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  // hide false positives
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "excludedFiles": "**/*.js",
      "parser": "@typescript-eslint/parser",
      "plugins": ["@typescript-eslint"],
      "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module",
        "ecmaFeatures": {
          "jsx": true
        }
      },
      "rules": {
        "no-undef": 0,
        "@typescript-eslint/explicit-function-return-type": "off",
        "react/prop-types": "off",
        "react/display-name": "off"
      },
      "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
      ]
    },
    {
      "files": ["*.js", "*.jsx"],
      "rules": {
        "react/prop-types": "off",
        "react/display-name": "off"
      }
    }
  ]
}
