.content-wrapper {
  padding: 24px;
  background: rgb(255, 255, 255);
  text-align: center;
  //min-height: 570px;
}

.login-wrapper {
  width: 400px;
  margin: auto;
}

.layout {
  margin-left: 200px;
}

.content {
  margin: 24px 16px 0;
  overflow: initial;
  min-height: 400px;
}
