.content-wrapper {
  padding: 24px;
  background: rgb(255, 255, 255);
  text-align: center;
  min-height: 450px;
}

.login-wrapper {
  width: 400px;
  margin: auto;
}

.layout {
  margin-left: 200px;
}

