@import "colors.less";

@font-face {
  font-family: "samarkan";
  src: url("./SAMAN.TTF");
  font-weight: normal;
  font-style: normal;
}

.app {
  height: 100%;
  font-family: "Quicksand", sans-serif;
}

a {
  color: #002140;
}

a.alt {
  color: #1d578f;
  &:hover {
    color: #40a9ff;
  }
}

.header {
  color: @orange;
  text-align: center;
  text-decoration: underline;
}

.ant-layout-header {
  min-height: 75px;
}

.showcase {
  text-align: center;
  .row {
    margin: 10px auto;
    border-top: 1px solid #9e9e9e69;
    padding-top: 10px;
    width: 80%;
    position: relative;
    min-height: 30px;
    span.label {
      position: absolute;
      left: 1%;
      font-weight: 400;
    }
  }
}

#components-layout-demo-fixed-sider .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.logo-img {
  max-width: 90%;
  max-height: 100%;
  margin: 8px;
}

.logo {
  color: @blue;
  font-size: 18px;
  text-align: center;
  .logo-text {
    opacity: 1;
    transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
      width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
}

.ant-layout-sider-collapsed {
  .logo-text {
    opacity: 0;
    display: inline-block;
    max-width: 0;
  }
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 400px;
  line-height: 160px;
  //background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.appeals-container {
  border: 1px solid #f0f0f0;
}

.home-stats-container .region-stats {
  text-align: left;
}

.home-stats-container .ant-row {
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 5px;
}

/* Home content Styles */

.layout-conteiner {
  text-align: left;
  color: #fff;
  //background-image: url('../images/background.png');
  background-repeat: no-repeat;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 5px;
}

.layout-conteiner h3 {
  color: #fff;
}

.ant-layout-content {
  background-color: #fff;
  margin: 0px;
}

.layout-header {
  min-height: 80px;
  //padding: 30px
  padding-top: 10px;
}

.state-logo {
  max-height: 70px;
  max-width: 70px;
}

.cm-logo {
  max-height: 70px;
  max-width: 70px;
  //float: right;
}

.hashtag-2 {
  float: right;
}

.header-text {
  font-size: 1.2rem;
  font-weight: 700;
}

.cm-image-container {
  text-align: center;
  padding-right: 20px;
}

.logo-banner {
  text-align: center;
  font-size: 3rem;
  font-family: "samarkan";
}

.text-large {
  font-size: 3rem;
  font-weight: 700;
}

.right-conteiner {
  border-left: 1px solid #8c8a8a;
}

.covid-stat {
  padding: 10px 10px 10px 15px;
}

.covid-stat h3 {
  color: #fff;
  font-weight: 600;
}

.covid-stat-header {
  font-size: 10px;
  padding-left: 10px;
  font-weight: 700;
  opacity: 0.6;
}

.covid-stat-data {
  font-size: 10px;
  padding-left: 10px;
  font-weight: 800;
  padding-bottom: 20px;
}

.appeals-data .ant-list-item {
  color: snow;
  background-color: #3339;
}

.appeals-header {
  font-weight: 700;
  color: #fff;
  text-align: center;
}

.bottom-btn-containers {
  background-color: #dada27;
  color: black;
  padding: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.bottom-btn-containers-alt {
  .bottom-btn-containers();
  background-color: #dada27;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
}

.goto-text {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 5px;
  cursor: pointer;
  color: #14497a;
}
.goto-container-text {
  display: flex;
  justify-content: center;
  font-weight: 500;
}

.home-text-message h2 {
  color: #fff;
}

.home-text-message {
  margin-top: 15px;
  margin-bottom: 10px;
}

.border-right {
  border-right: 1px solid #8c8a8a;
}

.margin-adjust {
  margin-top: -22px;
}

.caption-co {
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Payment popup */

.payment-header {
  color: #337ab7;
  font-weight: 700;
  text-align: center;
}

.payment-field-label {
  color: #337ab7;
  font-weight: 400;
}

.payment-field-value {
  color: #e67300;
  font-weight: 700;
}

.payment-seperator-text {
  color: #f1c13f;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}

/* -- footer -- */

.footer-container {
  color: #fff;
}

.footer-container h3 {
  color: #fff;
  padding: 5px;
}

.ant-layout-footer {
  padding: 0px 0px 0px 0px;
  max-height: 100px;
  font-size: 12px;
}

.footer-cell {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-box {
  div {
    border: 0px solid #aaa;
  }
}

.footer-icon {
  font-size: 24px;
  padding-right: 5px;
}

.footer-item-wrap {
  padding: 5px;
  display: inline-block;
}

/* End Payment popup */

@media only screen and (max-width: 801px) {
  .header-text {
    font-size: 1.2rem;
    font-weight: 700;
  }

  .margin-adjust {
    margin-top: -5px;
  }

  .layout-conteiner {
    padding-left: 8px;
    padding-right: 8px;
  }

  .layout-header {
    align-items: center;
  }
  .layout-header div {
    align-items: center;
    text-align: center;
    float: none;
  }
  .layout-header div img {
    align-items: center;
    text-align: center;
    float: none;
  }

  .layout-header div span {
    align-items: center;
    text-align: center;
    float: none;
  }
  .cm-image-container {
    padding-right: 0px;
  }
}
@media only screen and (max-width: 575px) {
  .text-large {
    font-size: 1.2rem;
    font-weight: 700;
  }

  .logo-banner {
    font-size: 1.5rem;
  }
  .header-text {
    font-size: 0.8rem;
    font-weight: 700;
  }
  .margin-adjust {
    margin-top: 0px;
  }

  .layout-conteiner {
    padding-left: 8px;
    padding-right: 8px;
  }

  .layout-header {
    align-items: center;
  }
  .layout-header div {
    align-items: center;
    text-align: center;
    float: none;
  }
  .layout-header div img {
    align-items: center;
    text-align: center;
    float: none;
  }

  .layout-header div span {
    align-items: center;
    text-align: center;
    float: none;
  }
  .cm-image-container {
    padding-right: 0px;
  }
}

/* define the animation */
@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(0, -100%);
  }
}

@keyframes marquee {
  0% {
    -webkit-transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(0, -100%);
  }
}

@-moz-keyframes marquee {
  0% {
    -webkit-transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(0, -100%);
  }
}

.marquee {
  overflow: hidden;
  height: 450px;
  text-align: left;
}

.appeals-data {
  margin-top: 10px;
  margin-bottom: 20px;
  li:hover {
    background-color: #0908089e;
  }
}

.marquee div.appeals-data {
  display: inline-block;
  padding-top: 400px;
  animation: marquee 18s linear infinite;
  -webkit-animation: marquee 18s linear infinite;
}

.marquee div:hover {
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
}

/* END Home content Styles */
